/* Smallest Style - Mobile Devices */

@media all and (max-width: 330px) {
    .deck {
        width: 200px;
        min-height: 380px;
    }
    .deck .card {
        height: 50px;
        width: 50px;
    }
    .deck .card.show {
        font-size: 15px;
    }
    .deck .card.match {
        font-size: 15px;
    }
    .score-panel {
        max-width: 270px;
    }
}

/* Medium Style */

@media all and (max-width: 660px) {
    .deck {
        width: 300px;
        min-height: 380px;
    }
    .deck .card {
        height: 50px;
        width: 50px;
    }
    .deck .card.show {
        font-size: 15px;
    }
    .deck .card.match {
        font-size: 15px;
    }
    .score-panel {
        max-width: 300px;
    }
}

/* Large Style */

@media all and (max-width: 999px) {
    h1 {
        font-size: 40px;
    }
    #timer,
    .moves {
        font-size: 20px;
    }
}

/* Largest Style */

@media all and (min-width: 1000px) {
    h1 {
        font-size: 60px;
    }
    #timer,
    .moves {
        font-size: 30px;
    }
}